body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.container {
  /* display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 20px; */
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  background: linear-gradient(to bottom, rgba(12, 1, 1, 0) 0%, rgb(14, 1, 1) 100%); /* The gradient goes from transparent to white */
}

.center {
  grid-column: 2 / 3;
  background:rgb(216, 215, 215);


}

.left {
  grid-column: 1 / 2;
  background:rgba(101, 143, 47, 0);

}

.top {
  position: absolute;
  top: 30px; /* Adjust this value to position the element */
  left: -88px;
  right: 0;
  margin: auto;
  width: 59%; /* Adjust this value to set the width of the element */
  height: 93%; /* Adjust this value to set the height of the element */
  background-color: #e00f0f; /* Set the background color of the element */
  border-radius: 10px; /* Set the border radius of the element */
  box-shadow: 0 0 10px rgba(37, 30, 30, 0.2); /* Set the box shadow of the element */

  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 20px;
}